@media (max-width: 480px) {
  .page-nav {
    flex-wrap: wrap;
  }

  .page-nav .page-nav__day {
    flex-basis: calc(100% / 5);
  }

  .movie {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .movie .movie__info {
    flex-wrap: wrap;
    justify-content: center;
  }
}